.brand-page {
  text-align: center;
  padding: 20px;
  background-color: #000612; 
  min-height: 100vh; 
}

.product-list {
  display: flex;
  justify-content: center;
  gap: 30px; 
  flex-wrap: wrap;
  margin-top: 20px;
}

.product-card {
  background: #ffffff;
  border-radius: 12px; 
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); 
  padding: 30px; 
  text-align: center;
  width: 250px; 
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product-card:hover {
  transform: scale(1.1); 
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.product-image {
  width: 150px; 
  height: 150px; 
  margin-bottom: 10px;
  object-fit: cover; 
  border-radius: 10px; 
  border: 2px solid #007bff; 
}


.back-button {
  margin-top: 20px; 
  padding: 12px 24px; 
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 6px; 
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.back-button:hover {
  background-color: #0056b3;
}

.product-card h2 {
  font-size: 18px;
  color: #333;
  margin-bottom: 10px;
}

.product-card p {
  font-size: 16px;
  color: #555;
}
