/* Navbar Container */
.navbar {
  display: flex;
  justify-content: space-around; /* Distributes buttons evenly */
  align-items: center; /* Vertically centers buttons */
  background-color: #000000;
  padding: 10px;
  position: relative;
  top: 0;
  z-index: 1000;
}

/* Navbar Buttons */
.navbar button {
  background-color: #6d6d6d;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  margin: 5px;
}

/* Navbar Buttons Hover Effect */
.navbar button:hover {
  background-color: #0056b3;
}
